body {
  font-family: monospace;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-size: 6rem;
  /* help if there is a small glitch after the animation, also responsible for the back side of the element */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }

    /* 
    animation-iteration-count: 3;
    animation-delay: 1.5s;
     */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-bottom: 6rem;
    animation-name: moveInRight 1s ease-in;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-grey-light-1,
    $color-grey-light-2
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    // transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $defaut-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
