//colors
$color-primary: #505867;
$color-primary-light: #667083;
$color-primary-dark: #282c34;
$color-primary-purple: #7675e2;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #3d3d3d;

$color-white: #fff;
$color-black: #000;

$color-react: #60dbfb;
$color-react-dark: #008fb4;
$color-html: #f68157;
$color-html-dark: #eb6d53;
$color-js: #f7e017;
$color-js-dark: #ca9708;
$color-sass: #ce679b;
$color-sass-dark: #9e1158;

$color-redux: #764abc;
$color-redux-dark: #290b59;

//font
$defaut-font-size: 1.6rem;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//perspectiv
$perspectiv-normal: 150rem;
